{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/github", {
      "assets": [
        {"path": "BlobForwarder/index.js", "label": "BlobForwarder Azure Function"},
        {"path": "EventHub/index.js", "label": "EventHub Azure Function"}
      ]
    }],
    ["@semantic-release/npm", {
      "npmPublish": false
    }]
  ]
}